server:
  port: 8080

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/car_rental
    username: car_rental
    password: car_rental
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true
    locations: classpath:db/migration


logging:
  level:
    org.springframework.security: DEBUG

app:
  jwt:
    secret: "3yq0kGfQyHqD9vZrX8mN1pL2sT7aWcE4"
    expirationMinutes: 120
  cors:
    allowedOrigins: "http://localhost:4200"
